:root {
    --md-sys-color-primary: rgb(151 27 45);
    --md-sys-color-surface-tint: rgb(174 46 60);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(184 53 67);
    --md-sys-color-on-primary-container: rgb(255 220 220);
    --md-sys-color-secondary: rgb(143 74 77);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(254 167 169);
    --md-sys-color-on-secondary-container: rgb(122 57 60);
    --md-sys-color-tertiary: rgb(119 64 0);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(154 84 0);
    --md-sys-color-on-tertiary-container: rgb(255 222 198);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(147 0 10);
    --md-sys-color-background: rgb(255 248 247);
    --md-sys-color-on-background: rgb(37 24 24);
    --md-sys-color-surface: rgb(255 248 247);
    --md-sys-color-on-surface: rgb(37 24 24);
    --md-sys-color-surface-variant: rgb(253 218 218);
    --md-sys-color-on-surface-variant: rgb(88 65 65);
    --md-sys-color-outline: rgb(140 112 112);
    --md-sys-color-outline-variant: rgb(224 191 191);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(59 45 45);
    --md-sys-color-inverse-on-surface: rgb(255 237 236);
    --md-sys-color-inverse-primary: rgb(255 179 180);
    --md-sys-color-primary-fixed: rgb(255 218 217);
    --md-sys-color-on-primary-fixed: rgb(64 0 10);
    --md-sys-color-primary-fixed-dim: rgb(255 179 180);
    --md-sys-color-on-primary-fixed-variant: rgb(141 18 39);
    --md-sys-color-secondary-fixed: rgb(255 218 217);
    --md-sys-color-on-secondary-fixed: rgb(59 8 14);
    --md-sys-color-secondary-fixed-dim: rgb(255 179 180);
    --md-sys-color-on-secondary-fixed-variant: rgb(114 51 54);
    --md-sys-color-tertiary-fixed: rgb(255 220 194);
    --md-sys-color-on-tertiary-fixed: rgb(46 21 0);
    --md-sys-color-tertiary-fixed-dim: rgb(255 183 122);
    --md-sys-color-on-tertiary-fixed-variant: rgb(109 58 0);
    --md-sys-color-surface-dim: rgb(236 213 212);
    --md-sys-color-surface-bright: rgb(255 248 247);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(255 240 240);
    --md-sys-color-surface-container: rgb(255 233 232);
    --md-sys-color-surface-container-high: rgb(251 227 226);
    --md-sys-color-surface-container-highest: rgb(245 221 220);
}